html{
    cursor: url("assets/imgs/meow-05.png"), auto;
}

body {
    background-color: papayawhip;
    font-family: 'Bebas Neue', cursive;
}

p {
    display: flex;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}

.marquee {
   font-size: 50px;
}

/*.marquee {
    background-color: #ddd;
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
  }
  .marquee span {
    display: inline-block;
    font-size: 20px;
    position: relative;
    left: 100%;
    animation: marquee 8s linear infinite;
  }
  .marquee:hover span {
    animation-play-state: paused;
  }
  
  .marquee span:nth-child(1) {
    animation-delay: 0s;
  }
  .marquee span:nth-child(2) {
    animation-delay: 0.8s;
  }
  .marquee span:nth-child(3) {
    animation-delay: 1.6s;
  }
  .marquee span:nth-child(4) {
    animation-delay: 2.4s;
  }
  .marquee span:nth-child(5) {
    animation-delay: 3.2s;
  }
  
  @keyframes marquee {
    0%   { left: 100%; }
    100% { left: -100%; }
  }*/

.heading{
    margin: 5px;
    display: flex;
    font-family: 'Press Start 2P', cursive;
    font-size: 120px;
    flex-wrap: wrap;
    flex-shrink: 5px;
    flex: 1;
    justify-content: space-evenly;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
    
}

details[open] summary ~ * {
    animation: sweep 1s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

  details[close] summary ~ * {
    animation: sweep 1s ease-in-out;
  }

.studio{
    width: 45%;
    height: auto;
    padding: 15px;
    animation: marquee 5s linear infinite;
    animation-timing-function: ease-in-out;
}

.studio:active{
    animation-timing-function: ease-in-out;
}

.studio:hover{
    cursor: url("assets/imgs/hua-02.png"), auto;

}

.lab {
    display: flex;
    width: 45%;
    padding: 15px;
    height: auto;
}

.lab:hover{
    cursor: url("assets/imgs/jake-03.png"), auto;
}

.proj1 a{
    color: black;
    cursor: url("assets/imgs/corneliuss-01.png"), auto;
}

.proj1 a:hover {
    color: tomato;
    cursor: url("assets/imgs/corneliuss-01.png"), auto;
}

.labsummary1{
    color: black;
}


.labsummary1 a:hover {
  color: tomato;
  cursor: url("assets/imgs/corneliuss-01.png"), auto;
}

.labsummary2{
  color: black;
}


.labsummary2 a:hover {
color: tomato;
cursor: url("assets/imgs/corneliuss-01.png"), auto;
}


.labsummary3{
  color: black;
}


.labsummary3 a:hover {
color: tomato;
cursor: url("assets/imgs/corneliuss-01.png"), auto;
}

.labsummary4{
  color: black;
}


.labsummary4 a:hover {
color: tomato;
cursor: url("assets/imgs/corneliuss-01.png"), auto;
}

.labsummary5{
  color: black;
}


.labsummary5 a:hover {
color: tomato;
cursor: url("assets/imgs/corneliuss-01.png"), auto;
}