html {
  cursor: url("./combcursor.png"), auto;
}

body {
    font-family: 'Druzhok';
    margin: 0 auto;
    font-size: 7rem;
    overflow-x: hidden;
    cursor: url("./combcursor.png"), auto;
}

text {
    fill: #b76935;
    font-size: 30px;
  }

/*HTML SCSS JSResult Skip Results Iframe
EDIT ON
canvas { 
  border: 1px solid black; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@for $i from 1 to 7 {
  @property --q#{$i}x {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  @property --q#{$i}y {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
}
:root {
  --p0x: 100;
  --p0y: 150;
  --p1x: 254;
  --p1y: 55;
  --p2x: 244;
  --p2y: 259;
  --p3x: 80;
  --p3y: 100;
}
.cat {
  position: absolute;
  user-select: none;
  pointer-events: none;
  top: calc(-16px + 1px * var(--q6y));
  left: calc(-16px + 1px * var(--q6x));
  font-size: 24px;
  animation-name: q1, q2, q3, q4, q5, q6, progress;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;    

}

@keyframes q1 {
  from { --q1x: var(--p0x); --q1y: var(--p0y); }
  to { --q1x: var(--p1x); --q1y: var(--p1y); }
}
@keyframes q2 {
  from { --q2x: var(--p1x); --q2y: var(--p1y); }
  to { --q2x: var(--p2x); --q2y: var(--p2y); }
}
@keyframes q3 {
  from { --q3x: var(--p2x); --q3y: var(--p2y); }
  to { --q3x: var(--p3x); --q3y: var(--p3y); }
}
@keyframes q4 {
  from { --q4x: var(--q1x); --q4y: var(--q1y); }
  to { --q4x: var(--q2x); --q4y: var(--q2y); }
}
@keyframes q5 {
  from { --q5x: var(--q2x); --q5y: var(--q2y); }
  to { --q5x: var(--q3x); --q5y: var(--q3y); }
}
@keyframes q6 {
  from { --q6x: var(--q4x); --q6y: var(--q4y); }
  to { --q6x: var(--q5x); --q6y: var(--q5y); }
}
@keyframes progress {
  from { z-index: 0; }
  to { z-index: 1000; }
}*/

@font-face {
    font-family: 'Druzhok';
    src:    url('./assets/DRUZHOK.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Director';
    src:    url('./assets/Director-Regular.woff') format('woff'),
            url('./assets/Director-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Director';
    src:    url('./assets/Director-Bold.woff') format('woff'),
            url('./assets/Director-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.content-container a:hover {
animation: shake 1s;

animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  /*10% { transform: translate(-1px, -2px) rotate(-1deg); }*/
  20% { transform: translate(-6px, 0px) rotate(5deg); }
  /*30% { transform: translate(3px, 2px) rotate(0deg); }*/
  40% { transform: translate(7px, 0px) rotate(-5deg); }
  /*50% { transform: translate(-1px, 2px) rotate(-1deg); }*/
  60% { transform: translate(-7px, 0px) rotate(5deg); }
  /*70% { transform: translate(3px, 1px) rotate(-1deg); }*/
  80% { transform: translate(-6px, 0px) rotate(-5deg); }
  /*90% { transform: translate(1px, 2px) rotate(0deg); }*/
  100% { transform: translate(2px, 0px) rotate(0deg); }
}

a {
  fill: #b76935;
  font-family: 'Druzhok';
  font-size: 5rem;
  letter-spacing: 2rem;
  cursor: url("./combcursor.png"), auto;

}

a:hover{
  fill: #2A68A5;
  cursor: url("./combcursor.png"), auto;
}

a:active{
  fill: #2A68A5;      
  cursor: url("./combcursor.png"), auto;
}

svg {
  display: inline-block;  
  margin-left:0px;
  margin-top: 1rem auto;
  margin-bottom: 1rem auto;
  margin-right:0px;
  padding-left:0px;
  padding-right:0px;
}

#curve2 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve3 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve4 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve5 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve6 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve7 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}


#curve8 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve9 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve10 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve11 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve12 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

#curve13 {
  fill: none;
  stroke: #b76935;
  stroke-width: .5rem;
  margin: 0;
}

