body{
    background-color: burlywood;
    font-family: 'Solide Mirage';
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@font-face {
    font-family: 'Solide Mirage_Etroit';
    src:    url('./assets/solide-mirage/fonts/webfonts/Etroit/Solide_Mirage-Etroit_web.woff') format('woff'),
            url('./assets/solide-mirage/fonts/webfonts/Etroit/Solide_Mirage-Etroit_web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solide Mirage';
    src:    url('./assets/solide-mirage/fonts/webfonts/Mono/Solide_Mirage-Mono_web.woff') format('woff'),
            url('./assets/solide-mirage/fonts/webfonts/Mono/Solide_Mirage-Mono_web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Compagnon Master Italic';
    src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Italic.woff') format('woff'),
            url('./assets/compagnon-master/fonts/webfonts/Compagnon-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Compagnon Master Light';
    src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Light.woff') format('woff'),
            url('./assets/compagnon-master/fonts/webfonts/Compagnon-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Compagnon Master Medium';
    src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Medium.woff') format('woff'),
            url('./assets/compagnon-master/fonts/webfonts/Compagnon-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Compagnon Master Bold';
    src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Bold.woff') format('woff'),
            url('./assets/compagnon-master/fonts/webfonts/Compagnon-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Compagnon Master Roman';
    src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Roman.woff') format('woff'),
            url('./assets/compagnon-master/fonts/webfonts/Compagnon-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

  .wrapper {
    height: 100vh;
    width: 100vw;
  }

  img{
    position: absolute;
    top: -106.5px;
    left: -80px;
  }
  
  /*h1 {
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }*/

