html {
  cursor: url("./assets/imgs/combcursor.png"), auto;
}

body {
    font-family: 'Druzhok';
    margin: .5rem;
    padding: 5px;
}

text {
    fill: #b76935;
    font-size: 30px;
  }

@font-face {
    font-family: 'Druzhok';
    src:    url('./assets/DRUZHOK.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Director';
    src:    url('./assets/Director-Regular.woff') format('woff'),
            url('./assets/Director-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Director';
    src:    url('./assets/Director-Bold.woff') format('woff'),
            url('./assets/Director-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

.header-1 {
    display: inline-block; 
}

.hair-1 {
    width: 20rem;
    rotate: -10deg;
    position: absolute;
    top: 3.5rem;
    left: 5rem;
    transition-property: opacity;
}

.header:hover .hair-1{
  opacity: 0%;
  transition-property: opacity;
  transition-delay: 0s;
}

.hair-2 {
    width: 25rem;
    rotate: -45deg;
    position: absolute;
    top: 5rem;
    left: 25rem;
}

.header:hover .hair-2{
  opacity: 0%;
  transition-delay: 0.5s;
}

.hair-3 {
  width: 13rem;
  rotate: 20deg;
  position: absolute;
  top: 2.5rem;
  left: 47rem;
}

.header:hover .hair-3{
  opacity: 0%;
  transition-delay: 1s;
}

.hair-4{
  width: 16rem;
  rotate: -45deg;
  position: absolute;
  top: 8rem;
  left: 65rem;
}

.header:hover .hair-4{
  opacity: 0%;
  transition-delay: 1.5s;
}

.header-2 {
  display: inline-block; 
}
.header-3 {
    display: inline-block; 
}
.header-4 {
  display: inline-block;
}

.header-5 {
  display: inline-block; 
}



p {
    font-size: 8rem;
    color: #b76935;
    margin: 1rem;
}

.subtitle {
    font-size: 2.25rem;
    color: #b76935;
}

.filters button {
    font-family: 'Director';
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    margin: .5rem;
    padding: 1rem;
    background-color: white;
    color: #b76935;
    letter-spacing: normal;
    cursor: url("./assets/imgs/combcursor.png"), auto;

}

.filters button:hover {
    letter-spacing: .15rem;
    transition: ease-out .4s;
    color: #2A68A5;
    cursor: url("./assets/imgs/combcursor.png"), auto;

}

.filters button:focus {
    letter-spacing: .15rem;
    transition: 0.5s;
    color: #2A68A5;
    cursor: url("./assets/imgs/combcursor.png"), auto;
}

.drawer-button {
    font-family: 'Druzhok';
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    margin: .5rem;
    padding: 1rem;
    background-color: white;
    color: black;
    letter-spacing: normal;
    cursor: url("./assets/imgs/combcursor.png"), auto;
}

.drawer-button--title {
  font-family: 'Druzhok';
  font-size: 2.25rem;
}

.drawer-button--info {
  font-family: 'Druzhok';
  font-size: 1.25rem;
}

.content-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(5, minmax(0, 1fr));    
  grid-template-rows: auto;
  column-gap: .25rem;
  row-gap: .25rem;
}

.airtable-item {
  place-items: center;  
  padding: .2rem;
  border: .15rem solid black;
  border-radius: 25px;
  text-align: center;
}

.drawer-content--description{
    font-family: 'Director';
    margin: .5rem;
    letter-spacing: .1rem;
    font-size: .9rem;
    color: #b76935;
    cursor: url("./assets/imgs/combcursor.png"), auto;

}

.content-container img {
  width:225px;
  height:225px;
  object-fit:scale-down;
  border-radius: 25px;
  margin: auto;
  justify-self: center;
  transition: .3s ease-in-out;
  cursor: url("./assets/imgs/combcursor.png"), auto;
  }

/*.content-container:hover{
-webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, .8, 0.7));
         filter: drop-shadow(12px 12px 7px rgba(0, 0, .8, 0.7));
}*/

.content-container img:hover {
animation: shake 1s;

animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(2px, 1px) rotate(0deg); }
  /*10% { transform: translate(-1px, -2px) rotate(-1deg); }*/
  20% { transform: translate(-6px, 0px) rotate(5deg); }
  /*30% { transform: translate(3px, 2px) rotate(0deg); }*/
  40% { transform: translate(7px, 0px) rotate(-5deg); }
  /*50% { transform: translate(-1px, 2px) rotate(-1deg); }*/
  60% { transform: translate(-7px, 0px) rotate(5deg); }
  /*70% { transform: translate(3px, 1px) rotate(-1deg); }*/
  80% { transform: translate(-6px, 0px) rotate(-5deg); }
  /*90% { transform: translate(1px, 2px) rotate(0deg); }*/
  100% { transform: translate(2px, 0px) rotate(0deg); }
}

a {
  fill: #b76935;
  font-family: 'Druzhok';
}

a:hover{
  fill: #2A68A5;}

a:active{
  fill: #2A68A5;}

  .sort-toggle{
    display: none;
  }





@media (max-width: 82em) {
  html {
    cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  body {
      font-family: 'Druzhok';
      margin: .5rem;
      padding: 5px;
  }
  
  text {
      fill: #b76935;
      font-size: 30px;
    }
  .header-1 {
      display: inline-block; 
      font-size: 7rem;
  }
  
  .hair-1 {
      width: 20rem;
      rotate: -10deg;
      position: absolute;
      top: 3.5rem;
      left: 5rem;
  }
  
  .header-2 {
      display: inline-block; 
  }
  
  .hair-2 {
      width: 25rem;
      rotate: -45deg;
      position: absolute;
      top: 5rem;
      left: 25rem;
  }
  
  .header-3 {
      display: inline-block; 
  
  }
  
  .hair-3 {
    width: 13rem;
    rotate: 20deg;
    position: absolute;
    top: 3rem;
    left: 45rem;
  }
  
  .header-4 {
      display: inline-block;
  
  }
  
  .hair-4{
    width: 16rem;
    rotate: -45deg;
    position: absolute;
    top: 8rem;
    left: 58rem;
  }
  
  .header-5 {
    display: inline-block; 
  }
  
  .header:hover img{
    opacity: 0%;
  }
  
  p {
      font-size: 8rem;
      color: #b76935;
      margin: 1rem;
  }
  
  .subtitle {
      font-size: 2.25rem;
      color: #b76935;
  }

  .button-wrapper {
    margin: 2rem auto;
  } 
  
  .filters button {
      font-family: 'Director';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: white;
      color: #b76935;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .filters button:hover {
      letter-spacing: .15rem;
      transition: ease-out .4s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .filters button:focus {
      letter-spacing: .15rem;
      transition: 0.5s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button {
      font-family: 'Druzhok';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: white;
      color: black;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button--title {
    font-family: 'Druzhok';
    font-size: 2.25rem;
  }
  
  .drawer-button--info {
    font-family: 'Druzhok';
    font-size: 1.25rem;
  }
  
  .content-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, minmax(0, 1fr));    
    grid-template-rows: auto;
    column-gap: .25rem;
    row-gap: .25rem;
  }
  
  .airtable-item {
    place-items: center;  
    padding: .2rem;
    border: .15rem solid black;
    border-radius: 25px;
    text-align: center;
  }
  
  .drawer-content--description{
      font-family: 'Director';
      margin: .5rem;
      letter-spacing: .1rem;
      font-size: .9rem;
      color: #b76935;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .content-container img {
    width:225px;
    height:225px;
    object-fit:scale-down;
    border-radius: 25px;
    margin: auto;
    justify-self: center;
    transition: .3s ease-in-out;
    cursor: url("./assets/imgs/combcursor.png"), auto;
    }
  
  .content-container img:hover {
  animation: shake 1s;
  
  animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    /*10% { transform: translate(-1px, -2px) rotate(-1deg); }*/
    20% { transform: translate(-6px, 0px) rotate(5deg); }
    /*30% { transform: translate(3px, 2px) rotate(0deg); }*/
    40% { transform: translate(7px, 0px) rotate(-5deg); }
    /*50% { transform: translate(-1px, 2px) rotate(-1deg); }*/
    60% { transform: translate(-7px, 0px) rotate(5deg); }
    /*70% { transform: translate(3px, 1px) rotate(-1deg); }*/
    80% { transform: translate(-6px, 0px) rotate(-5deg); }
    /*90% { transform: translate(1px, 2px) rotate(0deg); }*/
    100% { transform: translate(2px, 0px) rotate(0deg); }
  }
  
  a {
    fill: #b76935;
    font-family: 'Druzhok';
  }
  
  a:hover{
    fill: #2A68A5;}
  
  a:active{
    fill: #2A68A5;}
  
}

@media (max-width: 62.9em) {
  html {
    cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  body {
      font-family: 'Druzhok';
      margin: .5rem;
      padding: 5px;
  }
  
  text {
      fill: #b76935;
      font-size: 30px;
    }
  .header-1 {
      display: inline-block; 
  }
  
  .hair-1 {
      width: 20rem;
      rotate: -10deg;
      position: absolute;
      top: 3.5rem;
      left: 3rem;
  }
  
  .header-2 {
      display: inline-block; 
  }
  
  .hair-2 {
      width: 25rem;
      rotate: -45deg;
      position: absolute;
      top: 10rem;
      left: 20rem;
  }
  
  .header-3 {
      display: inline-block; 
  
  }
  
  .hair-3 {
    width: 13rem;
    rotate: 20deg;
    position: absolute;
    top: 3rem;
    left: 35rem;
  }
  
  .header-4 {
      display: inline-block;
  
  }
  
  .hair-4{
    width: 16rem;
    rotate: -45deg;
    position: absolute;
    top: 8rem;
    left: 48rem;
  }
  
  .header-5 {
    display: inline-block; 
  }
  
  .header:hover img{
    opacity: 0%;
  }
  
  p {
      font-size: 8rem;
      color: #b76935;
      margin: 1rem;
  }
  
  .subtitle {
      font-size: 2.25rem;
      color: white;
      margin: 1rem;
  }

  .button-wrapper {
    margin: 1rem auto;
    position: sticky;
    top: 20px;
    color: white;
    background-color: #b76935;
    border-style: solid;
    border-radius: 25px;
    border-color: #b76935;
    border-width: .5rem;
    height: 10vh;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-auto-columns: calc(100% - 4rem);
    overflow-x: auto;
  }
  
  .filters button {
      font-family: 'Director';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: #b76935;
      color: white;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .filters button:hover {
      letter-spacing: .15rem;
      transition: ease-out .4s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .filters button:focus {
      letter-spacing: .15rem;
      transition: 0.5s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button {
      font-family: 'Druzhok';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: white;
      color: black;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button--title {
    font-family: 'Druzhok';
    font-size: 2.25rem;
  }
  
  .drawer-button--info {
    font-family: 'Druzhok';
    font-size: 1.25rem;
  }
  
  .content-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));    
    grid-template-rows: auto;
    column-gap: .25rem;
    row-gap: .25rem;
  }
  
  .airtable-item {
    place-items: center;  
    padding: .2rem;
    border: .15rem solid black;
    border-radius: 25px;
    text-align: center;
  }
  
  .drawer-content--description{
      font-family: 'Director';
      margin: .5rem;
      letter-spacing: .1rem;
      font-size: .9rem;
      color: #b76935;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .content-container img {
    width:225px;
    height:225px;
    object-fit:scale-down;
    border-radius: 25px;
    margin: auto;
    justify-self: center;
    transition: .3s ease-in-out;
    cursor: url("./assets/imgs/combcursor.png"), auto;

    }
  
  .content-container img:hover {
  animation: shake 1s;
  
  animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    /*10% { transform: translate(-1px, -2px) rotate(-1deg); }*/
    20% { transform: translate(-6px, 0px) rotate(5deg); }
    /*30% { transform: translate(3px, 2px) rotate(0deg); }*/
    40% { transform: translate(7px, 0px) rotate(-5deg); }
    /*50% { transform: translate(-1px, 2px) rotate(-1deg); }*/
    60% { transform: translate(-7px, 0px) rotate(5deg); }
    /*70% { transform: translate(3px, 1px) rotate(-1deg); }*/
    80% { transform: translate(-6px, 0px) rotate(-5deg); }
    /*90% { transform: translate(1px, 2px) rotate(0deg); }*/
    100% { transform: translate(2px, 0px) rotate(0deg); }
  }
  
  a {
    fill: #b76935;
    font-family: 'Druzhok';
  }
  
  a:hover{
    fill: #2A68A5;}
  
  a:active{
    fill: #2A68A5;}
  
}

@media (max-width: 62.9em) {
  html {
    cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  body {
      font-family: 'Druzhok';
      margin: .5rem;
      padding: 5px;
  }
  
  text {
      fill: #b76935;
      font-size: 30px;
    }
  .header-1 {
      display: inline-block; 
  }
  
  .hair-1 {
      width: 20rem;
      rotate: -10deg;
      position: absolute;
      top: 3.5rem;
      left: 3rem;
  }
  
  .header-2 {
      display: inline-block; 
  }
  
  .hair-2 {
      width: 25rem;
      rotate: -45deg;
      position: absolute;
      top: 10rem;
      left: 20rem;
  }
  
  .header-3 {
      display: inline-block; 
  
  }
  
  .hair-3 {
    width: 13rem;
    rotate: 20deg;
    position: absolute;
    top: 3rem;
    left: 35rem;
  }
  
  .header-4 {
      display: inline-block;
  
  }
  
  .hair-4{
    width: 16rem;
    rotate: -45deg;
    position: absolute;
    top: 8rem;
    left: 42rem;
  }
  
  .header-5 {
    display: inline-block; 
  }
  
  .header:hover img{
    opacity: 0%;
  }
  
  p {
      font-size: 8rem;
      color: #b76935;
      margin: 1rem;
  }
  
  .subtitle {
      font-size: 2.25rem;
      color: white;
      margin: 1rem;
  }

  .button-wrapper {
    margin: 1rem auto;
    position: sticky;
    top: 20px;
    color: white;
    background-color: #b76935;
    border-style: solid;
    border-radius: 25px;
    border-color: #b76935;
    border-width: .5rem;
    height: 10vh;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-auto-columns: calc(100% - 4rem);
    overflow-x: auto;
  }
  
  .filters button {
      font-family: 'Director';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: #b76935;
      color: white;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .filters button:hover {
      letter-spacing: .15rem;
      transition: ease-out .4s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .filters button:focus {
      letter-spacing: .15rem;
      transition: 0.5s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button {
      font-family: 'Druzhok';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: white;
      color: black;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button--title {
    font-family: 'Druzhok';
    font-size: 2.25rem;
  }
  
  .drawer-button--info {
    font-family: 'Druzhok';
    font-size: 1.25rem;
  }
  
  .content-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, minmax(0, 1fr));    
    grid-template-rows: auto;
    column-gap: .25rem;
    row-gap: .25rem;
  }
  
  .airtable-item {
    place-items: center;  
    padding: .2rem;
    border: .15rem solid black;
    border-radius: 25px;
    text-align: center;
  }
  
  .drawer-content--description{
      font-family: 'Director';
      margin: .5rem;
      letter-spacing: .1rem;
      font-size: .9rem;
      color: #b76935;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .content-container img {
    width:225px;
    height:225px;
    object-fit:scale-down;      
    display: grid;
    border-radius: 25px;
    margin: auto;
    justify-self: center;
    transition: .3s ease-in-out;
    cursor: url("./assets/imgs/combcursor.png"), auto;
  
    }
  
  .content-container img:hover {
  animation: shake 1s;
  
  animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    /*10% { transform: translate(-1px, -2px) rotate(-1deg); }*/
    20% { transform: translate(-6px, 0px) rotate(5deg); }
    /*30% { transform: translate(3px, 2px) rotate(0deg); }*/
    40% { transform: translate(7px, 0px) rotate(-5deg); }
    /*50% { transform: translate(-1px, 2px) rotate(-1deg); }*/
    60% { transform: translate(-7px, 0px) rotate(5deg); }
    /*70% { transform: translate(3px, 1px) rotate(-1deg); }*/
    80% { transform: translate(-6px, 0px) rotate(-5deg); }
    /*90% { transform: translate(1px, 2px) rotate(0deg); }*/
    100% { transform: translate(2px, 0px) rotate(0deg); }
  }
  
  a {
    fill: #b76935;
    font-family: 'Druzhok';
  }
  
  a:hover{
    fill: #2A68A5;}
  
  a:active{
    fill: #2A68A5;}
  
}

@media (max-width: 54.375em) {
  html {
    cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  body {
      font-family: 'Druzhok';
      margin: .5rem;
      padding: 5px;
  }
  
  text {
      fill: #b76935;
      font-size: 30px;
    }
  .header-1 {
      display: inline-block; 
  }
  
  .hair-1 {
      width: 20rem;
      rotate: -10deg;
      position: absolute;
      top: 3.5rem;
      left: 2rem;
  }
  
  .header-2 {
      display: inline-block; 
  }
  
  .hair-2 {
      width: 25rem;
      rotate: -45deg;
      position: absolute;
      top: 10rem;
      left: 10rem;
  }
  
  .header-3 {
      display: inline-block; 
  
  }
  
  .hair-3 {
    width: 13rem;
    rotate: 20deg;
    position: absolute;
    top: 3rem;
    left: 25rem;
  }
  
  .header-4 {
      display: inline-block;
  
  }
  
  .hair-4{
    width: 16rem;
    rotate: -45deg;
    position: absolute;
    top: 8rem;
    left: 37rem;
  }
  
  .header-5 {
    display: inline-block; 
  }
  
  .header:hover img{
    opacity: 0%;
  }
  
  p {
      font-size: 8rem;
      color: #b76935;
      margin: 1rem;
  }
  
  .subtitle {
      font-size: 2.25rem;
      color: white;
      margin: 1rem;
  }

  .button-wrapper {
    margin: 1rem auto;
    position: sticky;
    top: 20px;
    color: white;
    background-color: #b76935;
    border-style: solid;
    border-radius: 25px;
    border-color: #b76935;
    border-width: .5rem;
    height: 10vh;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-auto-columns: calc(100% - 4rem);
    overflow-x: auto;
  }
  
  .filters button {
      font-family: 'Director';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: #b76935;
      color: white;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .filters button:hover {
      letter-spacing: .15rem;
      transition: ease-out .4s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .filters button:focus {
      letter-spacing: .15rem;
      transition: 0.5s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button {
      font-family: 'Druzhok';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: white;
      color: black;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button--title {
    font-family: 'Druzhok';
    font-size: 2.25rem;
  }
  
  .drawer-button--info {
    font-family: 'Druzhok';
    font-size: 1.25rem;
  }
  
  .content-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, minmax(0, 1fr));    
    grid-template-rows: auto;
    column-gap: .25rem;
    row-gap: .25rem;
  }
  
  .airtable-item {
    place-items: center;  
    padding: .2rem;
    border: .15rem solid black;
    border-radius: 25px;
    text-align: center;
  }
  
  .drawer-content--description{
      font-family: 'Director';
      margin: .5rem;
      letter-spacing: .1rem;
      font-size: .9rem;
      color: #b76935;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .content-container img {
    width:225px;
    height: 225px;
    object-fit: scale-down;
    display: grid;
    border-radius: 25px;
    margin: auto;
    justify-self: center;
    transition: .3s ease-in-out;
    cursor: url("./assets/imgs/combcursor.png"), auto;
  
    }
  
  .content-container img:hover {
  animation: shake 1s;
  
  animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    /*10% { transform: translate(-1px, -2px) rotate(-1deg); }*/
    20% { transform: translate(-6px, 0px) rotate(5deg); }
    /*30% { transform: translate(3px, 2px) rotate(0deg); }*/
    40% { transform: translate(7px, 0px) rotate(-5deg); }
    /*50% { transform: translate(-1px, 2px) rotate(-1deg); }*/
    60% { transform: translate(-7px, 0px) rotate(5deg); }
    /*70% { transform: translate(3px, 1px) rotate(-1deg); }*/
    80% { transform: translate(-6px, 0px) rotate(-5deg); }
    /*90% { transform: translate(1px, 2px) rotate(0deg); }*/
    100% { transform: translate(2px, 0px) rotate(0deg); }
  }
  
  a {
    fill: #b76935;
    font-family: 'Druzhok';
  }
  
  a:hover{
    fill: #2A68A5;}
  
  a:active{
    fill: #2A68A5;}
  
}

@media (max-width: 48.5em) {
  html {
    cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  body {
      font-family: 'Druzhok';
      margin: .5rem;
      padding: 5px;
  }
  
  text {
      fill: #b76935;
      font-size: 30px;
    }
  .header-1 {
      display: inline-block; 
      font-size: 6.1rem;
  }
  
  .hair-1 {
      width: 18rem;
      rotate: -10deg;
      position: absolute;
      top: 2rem;
      left: 3rem;
  }
  
  .header-2 {
      display: inline-block; 
  }
  
  .hair-2 {
      width: 17rem;
      rotate: -60deg;
      position: absolute;
      top: 15rem;
      left: 10rem;
  }
  
  .header-3 {
      display: inline-block; 
  
  }
  
  .hair-3 {
    width: 11rem;
    rotate: 20deg;
    position: absolute;
    top: 3rem;
    left: 23rem;
  }
  
  .header-4 {
      display: inline-block;
  
  }
  
  .hair-4{
    width: 10rem;
    rotate: -45deg;
    position: absolute;
    top: 15rem;
    left: 30rem;
  }
  
  .header-5 {
    display: inline-block; 
  }
  
  .header:hover img{
    opacity: 0%;
  }
  
  p {
      font-size: 8rem;
      color: #b76935;
      margin: 1rem;
  }
  
  .subtitle {
      font-size: 2.25rem;
      color: white;
      margin: 1rem;
  }

  .button-wrapper {
    margin: 1rem auto;
    position: sticky;
    top: 20px;
    color: white;
    background-color: #b76935;
    border-style: solid;
    border-radius: 25px;
    border-color: #b76935;
    border-width: .5rem;
    height: 10vh;
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-auto-columns: calc(100% - 4rem);
    overflow-x: auto;
  }
  
  .filters button {
      font-family: 'Director';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: #b76935;
      color: white;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .filters button:hover {
      letter-spacing: .15rem;
      transition: ease-out .4s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .filters button:focus {
      letter-spacing: .15rem;
      transition: 0.5s;
      color: #2A68A5;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button {
      font-family: 'Druzhok';
      font-size: 1rem;
      border: none;
      border-radius: 25px;
      margin: .5rem;
      padding: 1rem;
      background-color: white;
      color: black;
      letter-spacing: normal;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  }
  
  .drawer-button--title {
    font-family: 'Druzhok';
    font-size: 2.25rem;
  }
  
  .drawer-button--info {
    font-family: 'Druzhok';
    font-size: 1.25rem;
  }
  
  .content-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));    
    grid-template-rows: auto;
    column-gap: .25rem;
    row-gap: .25rem;
  }
  
  .airtable-item {
    place-items: center;  
    padding: .2rem;
    border: .15rem solid black;
    border-radius: 25px;
    text-align: center;
  }
  
  .drawer-content--description{
      font-family: 'Director';
      margin: .5rem;
      letter-spacing: .1rem;
      font-size: .9rem;
      color: #b76935;
      cursor: url("./assets/imgs/combcursor.png"), auto;
  
  }
  
  .content-container img {
    width:250px;
    height:250px;
    object-fit:scale-down;      
    display: grid;
    border-radius: 25px;
    margin: auto;
    justify-self: center;
    transition: .3s ease-in-out;
    cursor: url("./assets/imgs/combcursor.png"), auto;

    }
  
  .content-container img:hover {
  animation: shake 1s;
  
  animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    /*10% { transform: translate(-1px, -2px) rotate(-1deg); }*/
    20% { transform: translate(-6px, 0px) rotate(5deg); }
    /*30% { transform: translate(3px, 2px) rotate(0deg); }*/
    40% { transform: translate(7px, 0px) rotate(-5deg); }
    /*50% { transform: translate(-1px, 2px) rotate(-1deg); }*/
    60% { transform: translate(-7px, 0px) rotate(5deg); }
    /*70% { transform: translate(3px, 1px) rotate(-1deg); }*/
    80% { transform: translate(-6px, 0px) rotate(-5deg); }
    /*90% { transform: translate(1px, 2px) rotate(0deg); }*/
    100% { transform: translate(2px, 0px) rotate(0deg); }
  }
  
  a {
    fill: #b76935;
    font-family: 'Druzhok';
  }
  
  a:hover{
    fill: #2A68A5;}
  
  a:active{
    fill: #2A68A5;}
  
}


