body {
    background-color: papayawhip;
    color: black;
    font-family: 'Courier Prime', monospace;
    display: grid;
    grid-template-columns: 2fr 6fr;
    overflow: hidden;

}

@font-face {
    font-family: 'Director';
    src:    url('./assets/fonts/Director-Regular.woff') format('woff'),
            url('./assets/fonts/Director-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Director';
    src:    url('./assets/fonts/Director-Bold.woff') format('woff'),
            url('./assets/fonts/Director-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

  .item-a{
    grid-area: header;
    grid-column-start: 2;
    grid-column-end: span 6;
    grid-row-start: 1;
    grid-row-end: span 1;
    align-self: center;
    padding: 0.15rem;
  }

  .item-a p{
    font-family: 'Director', normal;
    font-size: 3.25rem;
    text-align: center;
    margin: .75rem;
  }

  .item-aboveb p{
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    font-family: 'Director', normal;
    font-size: 1.25rem;
    /*grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 1;
    grid-row-end: span 1;*/
    text-align: center;
    margin-top: -1rem;
    margin: .5rem .5rem .75rem .5rem;

  }


  .item-aa {
    height: 80vh;
    background-color: rgb(66, 120, 159);
    color: papayawhip;
    border-radius: 10px;
    margin: 0rem 1rem 0.5rem 0.5rem;
    grid-area: sidebar;
    font-family: 'Courier Prime', monospace;
    font-size: 14px;
    grid-column-start: 7;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
    /*grid-auto-flow: row;
    grid-template-rows: unset;
    overflow: scroll;*/
    justify-self: center;
    padding: 1.5rem;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px,1fr);
    overflow-y: auto;

  }

  hr {
    height: 1px;
    width: 10rem;
    background-color: papayawhip;
    border: none;
  }

  .item-b {
    height: 80vh;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    display: grid;
    margin: .25rem 1rem 0.5rem 0.5rem;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-auto-columns: minmax(160px,1fr);
    overflow-y: auto;
    align-items: center;
  }

  
  .item-c {
    height: 85vh;
    grid-area: main;
    grid-column-start: 2;
    grid-column-end: span 5;
    grid-row-start: 2;
    grid-row-end: span 2;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px,1fr);
    overflow-x: auto;
    row-gap: 41.5rem; 
    column-gap: 41.5rem;
    text-align: center;
  }

  .item-d {
    grid-area: header;
    grid-column-start: 3;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 1;
    text-align: center;  
    overflow-y: scroll;
    padding: 20px;
  }

  .item-e {
    grid-area: footer;
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: span 1;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: .25fr 2fr 1.75fr;
  }

.item-b img{
    width: 95%;
    height: auto;
    margin: 0rem 0rem -.5rem 0rem;
}

.item-c img{
    /*width: 55rem;*/
    width: 50rem;
    height: auto;
    padding: 1rem;
    display: block;
    text-align: center;
}

.item-c .img1{
    width:49rem;
    height: auto;
    text-align: center;
    filter: blur(8px);
    transition: filter 0.25s linear;
}

.item-c .img1:hover{
  width: 49rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img2{
    width: 50rem;
    height: auto;
    text-align: center;
    filter: blur(8px);
    transition: filter 0.25s linear;
}

.item-c .img2:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img3{
    width: 50rem;
    height: auto;
    text-align: center;
    filter: blur(8px);
    transition: filter 0.25s linear;
}

.item-c .img3:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img4{
    width: 43.5rem;
    height: auto;
    text-align: center;
    filter: blur(8px);
    transition: filter 0.25s linear;
}

.item-c .img4:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}


.item-c .img5{
    width: 50rem;
    height: auto;
    text-align: center;
    filter: blur(8px);
    transition: filter 0.25s linear;
}

.item-c .img5:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}


.item-c .img6{
    width: 50rem;
    height: auto;
    text-align: center;
    filter: blur(8px);
    transition: filter 0.25s linear;
}

.item-c .img6:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}


.item-c .img7{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img7:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}


.item-c .img8{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img8:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img9{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img9:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}


.item-c .img10{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img10:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img11{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img11:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img12{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img12:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img13{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img13:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img14{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img14:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img15{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img15:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img16{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img16:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img17{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img17:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img18{
  width: 43.5rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img18:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img19{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img19:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-c .img20{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(8px);
  transition: filter 0.25s linear;
}

.item-c .img20:hover{
  width: 50rem;
  height: auto;
  text-align: center;
  filter: blur(0);
}

.item-d img{
    width: 95%;
    height: auto;
    margin: 1rem;

}



.item-e img{
    width: 25%;
    height: auto;
    display: block;

}


a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: magenta;
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: none;
}

@media (max-width: 68.85em) {
  .item-aa {
    height: 70vh;
    background-color: rgb(60, 103, 75);
    color: papayawhip;
    border-radius: 10px;
    margin: 0rem 1rem 0.5rem 0.5rem;
    grid-area: sidebar;
    font-family: 'Courier Prime', monospace;
    font-size: 14px;
    grid-column-start: 7;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
    /*grid-auto-flow: row;
    grid-template-rows: unset;
    overflow: scroll;*/
    justify-self: center;
    padding: 1.5rem;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(160px,1fr);
    overflow-y: auto;
    transition: ease-in-out .5s;
  }

  .item-b {
    height: 75vh;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    display: grid;
    margin: .25rem 1rem 0.5rem 0.5rem;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-auto-columns: minmax(160px,1fr);
    overflow-y: auto;
    align-items: center;
    transition: ease-in-out .5s;

  }

  .item-b img{
    width: 60%;
    height: auto;
    margin: 0rem 0rem -.75rem 0rem;
    transition: ease-in-out .5s;
  }

  .item-a p{
    font-family: 'Director', normal;
    font-size: 2.75rem;
    text-align: center;
    margin: .75rem;
    transition: ease-in-out .5s;
  }

  .item-aboveb p{
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    font-family: 'Director', normal;
    font-size: 1rem;
    /*grid-column-start: 1;
    grid-column-end: span 8;
    grid-row-start: 1;
    grid-row-end: span 1;*/
    text-align: center;
    margin-top: -1rem;
    margin: .5rem .5rem .75rem .5rem;
    transition: ease-in-out .5s;
  }


}