
body {
    background-color: white;
    font-family: "Neue Haas Regular";
    font-size: 16px;

    }
    
    @font-face {
    font-family: "Neue Haas Black";
    src: url('./fonts/neue-haas/NH-Black.woff') format('woff'),
         url('./fonts/neue-haas/NH-Black.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
        font-family: "Neue Haas Regular";
        src: url('./fonts/neue-haas/NH-Regular.woff') format('woff'),
             url('./fonts/neue-haas/NH-Regular.woff2') format('woff2');
        weight: 400;
        font-style: normal;
        font-display: swap;
        } 

    .wrapper{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .title-large{
        font-family: "Neue Haas Black";
        font-size: 100px;
        text-transform: uppercase;
    }

    .row-1{
        display: flex;
        justify-content: space-between;
    }

    .row-2{
        flex-grow: 1;
        background: black;
        position: relative;
    }

     .row-2 img{
        position: absolute;
        width: 100%;
        height:100%;
        object-fit: cover;
    }

    .footer-title{
        text-align: center;
        line-height: 100%;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;
    }

    .footer-detail {
    }

    .footer-spacer {
        background-color: black;
        height: 1px;
        width: 200px;
        flex-grow: 1;
    }

    .footer-body {
        width: 50%;
        /*justify-content: flex-end;*/
    }