body {
  background-color: black;
  color: white;
  font-size: 18px;
  transition: ease all .5s;
  overflow: auto;
  margin: 0;
  /*height: 100vh;
  width: 100vw;*/
}

.building img{
  display: block; 
  /*height: 100vh;
  width: 100vw;*/
  width: 100%;
  align-self: center;
}

.doorway img{
  display: none; 
}

.hallway img{
  display: none; 
}

.ballroom img{
  display: none; 
}

.ghost img{
  display: none; 
}


.building .text-1{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.doorway .text-2{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; 
}

.hallway .text-3{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; 
}

.ballroom .text-4{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; 
}

.ghost .text-5{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; 
}




@media (max-width: 68.75em) {
    body {
      background-color: black;
      color: white;
      font-size: 18px;
      transition: ease all .5s;
    }

    .building img{
      display: none; 
    }

    .doorway img{
      display: block; 
      width: 100%;
      align-self: center;

    }

    .hallway img{
      display: none; 
    }

    .ballroom img{
      display: none; 
    }

    .ghost img{
      display: none; 
    }

    .building .text-1{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }
    
    .doorway .text-2{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }
    
    .hallway .text-3{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }
    
    .ballroom .text-4{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }
    
    .ghost .text-5{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }



  }


@media (max-width: 60.625em) {
  body {
    background-color: black;
    color: white;
    font-size: 18px;
    transition: ease all .5s;
    background-image: url(./assets/imgs/doorway3.jpg);
    background-position: center;
    background-size: cover;
  }

  .building img{
    display: none; 
  }

  .doorway img{
    display: block; 
    transition: ease all .5s;
    width: 110%;
    align-self: center;
  }

  .hallway img{
    display: none; 
  }

  .ballroom img{
    display: none; 
  }

  .ghost img{
    display: none; 
  }

}
  
  
  @media (max-width: 54.375em) {
    body {
      background-color: black;
      color: white;
      font-size: 18px;
      transition: ease all .5s;
    }

    .building img{
      display: none; 
    }

    .doorway img{
      display: none; 
    }

    .hallway img{
      display: block;
      width: 100%;
      align-self: center;
    }

    .ballroom img{
      display: none; 
    }

    .ghost img{
      display: none; 
    }

    .building .text-1{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }
    
    .doorway .text-2{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
    
    .hallway .text-3{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block; 
    }
    
    .ballroom .text-4{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }
    
    .ghost .text-5{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }

  }
  
  
  
  @media (max-width: 45.000em) {
    body {
      background-color: black;
      color: white;
      font-size: 18px;
      transition: ease all .5s;
    }

    .building img{
      display: none; 
    }

    .doorway img{
      display: none; 
    }

    .hallway img{
      display: none;
    }

    .ballroom img{
      display: block; 
      width: 100%;

    }

    .ghost img{
      display: none; 
    }

    .building .text-1{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }
    
    .doorway .text-2{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
    
    .hallway .text-3{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }
    
    .ballroom .text-4{
      color: black;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block; 
    }
    
    .ghost .text-5{
      color: white;
      font-size: 18px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none; 
    }

  }
  
  
  
  @media (max-width: 35em) {
      body {
        background-color: black;
        color: white;
        font-size: 18px;
        transition: ease all .5s;
        margin: 0 auto;
      }

      .building img{
        display: none; 
      }
  
      .doorway img{
        display: none; 
      }
  
      .hallway img{
        display: none;
      }
  
      .ballroom img{
        display: none; 
      }
  
      .ghost img{
        display: block; 
        width: 100%;
      }

      .building .text-1{
        color: white;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; 
      }
      
      .doorway .text-2{
        color: white;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
      }
      
      .hallway .text-3{
        color: white;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; 
      }
      
      .ballroom .text-4{
        color: white;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; 
      }
      
      .ghost .text-5{
        color: black;
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block; 
      }
  }
  