
body {
    background-color: black;
    font-family: Courier;
    display: flex;
    }
    
    @font-face{
    font-family: "Neue Haas Black";
    src: url('neue-haas/NHaasGroteskDSPro-95Blk.woff') format('woff')
         url('NHaasGroteskDSPro-95Blk.woff2') format('woff2');
    weight: 400px;
    font-style: normal;
    }