body {
    font-family: 'Druzhok';
}
@font-face {
    font-family: 'Druzhok';
    src:    url('./assets/DRUZHOK.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

img {
    width: 200px;
    border-radius: 25%;
    display: block;
    transition: .3s ease-in-out;
  }

  /*.content-container:hover img {
    transform: scale(1.2); 
  }*/

  img:hover{
    color: magenta; 
    background: magenta; 
    box-shadow: 0 0 50px magenta; 
  }



/*.drawer-content{
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 2rem;
    display: none;

}