body {
    font-family: 'Druzhok';
}
@font-face {
    font-family: 'Druzhok';
    src:    url('./assets/DRUZHOK.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

img {
    width: 200px;
    border-radius: 25%;
    display: block;
    transition: .3s ease-in-out;
  }

img:hover{
    color: magenta; 
    background: magenta; 
    box-shadow: 0 0 50px magenta; 
}

.filters button {
    border: none;
    margin: .5rem;
    padding: 1rem;
    background-color: cyan;
}